In [4]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.3.4

In [6]:
pd.Series()

/var/folders/0q/b_58vz2s67g5__b6nn353fmc0000gn/T/ipykernel_18808/2031691219.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [8]:

x = ['A','B','C']
print(x,type(x))

y= pd.Series(x)
print(y,type(y))

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

In [9]:
x = pd.Series(['A','B','C'])
x.name = 'My letters'
x

0    A
1    B
2    C
Name: My letters, dtype: object

In [10]:
x.values

array(['A', 'B', 'C'], dtype=object)

In [11]:
x.index =['first','second','third']
x

first     A
second    B
third     C
Name: My letters, dtype: object

In [12]:
x[0]

'A'

In [16]:
x.iloc[0]
x.iloc[-1]

'C'

In [14]:
x['first']

'A'

In [15]:
x[-1]

'C'

In [17]:
x=pd.Series(['A','B','C','D','E'],index=['first','second','third','fourth','fifth'])
x[1:-1]

second    B
third     C
fourth    D
dtype: object

In [18]:
x.iloc[1:-1]

second    B
third     C
fourth    D
dtype: object

In [19]:
x[::-1]

fifth     E
fourth    D
third     C
second    B
first     A
dtype: object

In [22]:
x[[0,-1]]

first    A
fifth    E
dtype: object

In [26]:
x[[0,-1]]

first    A
fifth    E
dtype: object

In [35]:
x = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
pd.Series(x, dtype =np.float64)
x.name="My numbers"
x

first     1
second    2
third     3
forth     4
fifth     5
Name: My numbers, dtype: int64

In [36]:
x = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
x[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

In [37]:
x = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])
x.sort_values()

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

Given the X pandas Series, set the fifth element equal to 10

In [39]:
x = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])
x[4]=10
x

A     1
B     2
C     3
D     4
E    10
dtype: int64


Given the X pandas Series, change all the middle elements to 0

In [42]:
x[1:4]=0
x

A     1
B     0
C     0
D     0
E    10
dtype: int64


Given the X pandas Series, add 5 to every element

In [51]:
x = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])
y = x + 5
y

A     6
B     7
C     8
D     9
E    10
dtype: int64

In [52]:

X = pd.Series([1,2,3,4,5])

X + 5
X
# X value is not changing

0    1
1    2
2    3
3    4
4    5
dtype: int64

Given the X pandas Series, make a mask showing negative elements

In [54]:

x = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = x <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

Given the X pandas Series, get the negative elements

In [55]:
x[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64


Given the X pandas Series, get numbers higher than 5

In [57]:
x[x >= 0]

1     2
2     0
4     5
5     6
6     0
7     0
9    10
dtype: int64

Given the X pandas Series, get numbers higher than the elements mean

In [58]:
x = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
x[x > x.mean()]

1     2
4     5
5     6
9    10
dtype: int64

In [59]:
x.mean()

0.9

Given the X pandas Series, get numbers equal to 2 or 10

In [62]:
mask = (x==2) | (x==10)
x[mask]

1     2
9    10
dtype: int64

Given the X pandas Series, return True if none of its elements is zero

In [63]:
x.all()

False

Given the X pandas Series, return True if any of its elements is zero

In [64]:
x.any()

True

Given the X pandas Series, show the sum of its elements

In [65]:
x.sum()

9

In [66]:
x.max()

10